/*!
Template :	ICO Crypto @by Softnio
Preset   :	Default
Version	 :	1.3.0
Updated	 :	06.28.2018
*/
h1.color-secondary, h2.color-secondary, h3.color-secondary, h4.color-secondary, h5.color-secondary, h6.color-secondary, .h1.color-secondary, .h2.color-secondary, .h3.color-secondary, .h4.color-secondary, .h5.color-secondary, .h6.color-secondary { color: #7a0fff; }
h1.color-primary, h2.color-primary, h3.color-primary, h4.color-primary, h5.color-primary, h6.color-primary, .h1.color-primary, .h2.color-primary, .h3.color-primary, .h4.color-primary, .h5.color-primary, .h6.color-primary { color: #46bdf4; }

.theme-light h1.color-secondary, .theme-light h2.color-secondary, .theme-light h3.color-secondary, .theme-light h4.color-secondary, .theme-light h5.color-secondary, .theme-light h6.color-secondary, .theme-light .h1.color-secondary, .theme-light .h2.color-secondary, .theme-light .h3.color-secondary, .theme-light .h4.color-secondary, .theme-light .h5.color-secondary, .theme-light .h6.color-secondary { color: #7a0fff; }
.theme-light h1.color-primary, .theme-light h2.color-primary, .theme-light h3.color-primary, .theme-light h4.color-primary, .theme-light h5.color-primary, .theme-light h6.color-primary, .theme-light .h1.color-primary, .theme-light .h2.color-primary, .theme-light .h3.color-primary, .theme-light .h4.color-primary, .theme-light .h5.color-primary, .theme-light .h6.color-primary { color: #46bdf4; }

h1.color-secondary, h2.color-secondary, h3.color-secondary, h4.color-secondary, h5.color-secondary, h6.color-secondary, .h1.color-secondary, .h2.color-secondary, .h3.color-secondary, .h4.color-secondary, .h5.color-secondary, .h6.color-secondary, p.color-secondary { color: #8255fd; }
h1.color-primary, h2.color-primary, h3.color-primary, h4.color-primary, h5.color-primary, h6.color-primary, .h1.color-primary, .h2.color-primary, .h3.color-primary, .h4.color-primary, .h5.color-primary, .h6.color-primary, p.color-primary { color: #46bdf4; }
h1.color-alt-primary, h2.color-alt-primary, h3.color-alt-primary, h4.color-alt-primary, h5.color-alt-primary, h6.color-alt-primary, .h1.color-alt-primary, .h2.color-alt-primary, .h3.color-alt-primary, .h4.color-alt-primary, .h5.color-alt-primary, .h6.color-alt-primary, p.color-alt-primary { color: #2b56f5; }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span { color: #46bdf4; }

a { color: #46bdf4; }
a:hover, a:focus, a:active { color: #8255fd; }

.theme-dark h1.color-secondary, .theme-dark h2.color-secondary, .theme-dark h3.color-secondary, .theme-dark h4.color-secondary, .theme-dark h5.color-secondary, .theme-dark h6.color-secondary, .theme-dark blockquote.color-secondary, .light h1.color-secondary, .light h2.color-secondary, .light h3.color-secondary, .light h4.color-secondary, .light h5.color-secondary, .light h6.color-secondary, .light blockquote.color-secondary { color: #7a0fff; }
.theme-dark h1.color-primary, .theme-dark h2.color-primary, .theme-dark h3.color-primary, .theme-dark h4.color-primary, .theme-dark h5.color-primary, .theme-dark h6.color-primary, .theme-dark blockquote.color-primary, .light h1.color-primary, .light h2.color-primary, .light h3.color-primary, .light h4.color-primary, .light h5.color-primary, .light h6.color-primary, .light blockquote.color-primary { color: #46bdf4; }
.theme-dark h1.color-alt-primary, .theme-dark h2.color-alt-primary, .theme-dark h3.color-alt-primary, .theme-dark h4.color-alt-primary, .theme-dark h5.color-alt-primary, .theme-dark h6.color-alt-primary, .theme-dark blockquote.color-alt-primary, .light h1.color-alt-primary, .light h2.color-alt-primary, .light h3.color-alt-primary, .light h4.color-alt-primary, .light h5.color-alt-primary, .light h6.color-alt-primary, .light blockquote.color-alt-primary { color: #2b56f5; }

.color-primary { color: #46bdf4; }

.color-secondary { color: #7a0fff; }

.bg-primary { background: #46bdf4; }

.bg-secondary { background: #7a0fff; }

.bg-light-primary { background-color: rgba(70, 189, 244, 0.1); }

.bg-light-secondary { background-color: rgba(122, 15, 255, 0.1); }

.tab-custom .nav-tabs { border-bottom-color: rgba(122, 15, 255, 0.2); }
.tab-custom .nav-tabs li > a:hover { color: #46bdf4; }
.tab-custom .nav-tabs li > a.active, .tab-custom .nav-tabs li > a.active:hover, .tab-custom .nav-tabs li > a.active:focus, .tab-custom .nav-tabs li > a.active:hover, .tab-custom .nav-tabs li > a.active:focus { border-bottom-color: #46bdf4; }
.tab-custom-s2 .nav-tabs li > a.active, .tab-custom-s2 .nav-tabs li > a.active:hover, .tab-custom-s2 .nav-tabs li > a.active:focus, .tab-custom-s2 .nav-tabs li > a.active:hover, .tab-custom-s2 .nav-tabs li > a.active:focus { border-bottom-color: #2b56f5; }

.theme-light .tab-custom .nav-tabs li > a:hover { color: #46bdf4; }

.pagination li.active a { background: #46bdf4; border-color: #46bdf4; }
.pagination li a { color: #46bdf4; }
.pagination li a:hover, .pagination li a:focus { color: #fff; background: #46bdf4; border-color: #46bdf4; }

.navbar .navbar-nav > li:hover a { color: #46bdf4; }
.navbar .navbar-nav > li > a.nav-link.active { color: #46bdf4; }
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar .navbar-nav .dropdown-menu .dropdown-item.active { color: #46bdf4; }
.navbar .navbar-nav .dropdown-menu li:hover > a { color: #46bdf4; }
.navbar .navbar-nav .dropdown-menu li:hover.has-children:after { border-left-color: #46bdf4; }
.navbar .navbar-nav .dropdown-menu.active > a, .navbar .navbar-nav .dropdown-menu li > a:hover, .navbar .navbar-nav .dropdown-menu li > a:focus { color: #46bdf4; }
.navbar .navbar-nav .dropdown-menu > .active > a, .navbar .navbar-nav .dropdown-menu > .active > a:focus, .navbar .navbar-nav .dropdown-menu > .active > a:hover { color: #46bdf4; }

.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item.active { color: #46bdf4; }

.theme-light .site-header .navbar-nav > li:hover a { color: #46bdf4; }

.navbar-toggler { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.navbar-toggler:hover { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }

.btn { background-image: -webkit-linear-gradient(left, #2b56f5 0%, #46bdf4 100%); background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.btn:before { background-image: -webkit-linear-gradient(left, #46bdf4 0%, #2b56f5 100%); background-image: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%); }
.btn.btn-alt { background-image: -webkit-linear-gradient(left, #7a0fff 0%, #46bdf4 100%); background-image: linear-gradient(to right, #7a0fff 0%, #46bdf4 100%); }
.btn.btn-alt:before { background-image: -webkit-linear-gradient(left, #46bdf4 0%, #7a0fff 100%); background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }
.btn.btn-plane { background: #7a0fff; }
.btn.btn-simple .fa { color: #46bdf4; }
.btn.btn-more { color: #46bdf4; }
.btn.btn-more:hover { color: #7a0fff; }

.play-btn .play { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.play-btn .play > span { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.play-btn-alt .fa { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.play-btn > span:last-of-type { color: #8255fd; }

.text-block ul:not(.btns) li:before { background: #46bdf4; }

.section-head .section-title span, .section-head .section-title:before { color: rgba(122, 15, 255, 0.06); }
.section-head-s2:before { background: #46bdf4; }

.heading-animation { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation:before { border-top-color: #2b56f5; border-lef-colort: #2b56f5; }
.heading-animation:after { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:first-of-type { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:first-of-type:before { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:first-of-type:after { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:last-of-type { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:last-of-type:before { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:last-of-type:after { border-top-color: #2b56f5; border-left-color: #2b56f5; }

.section-connect:before { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }

.event-info:before { background: #46bdf4; }

.countdown-box .token-countdown .countdown-text { color: #46bdf4; }
.countdown-box.countdown-header:after { border-color: rgba(122, 15, 255, 0.4); }
.countdown-box.countdown-header:before { border-color: rgba(122, 15, 255, 0.4); }
.countdown-box.countdown-header .extra-line { border-color: rgba(122, 15, 255, 0.4); }
.countdown-box.countdown-header .extra-line:after { border-color: rgba(122, 15, 255, 0.4); }
.io-azure .countdown-box { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }

.theme-light .countdown-box.countdown-header:after { border-color: rgba(122, 15, 255, 0.1); }
.theme-light .countdown-box.countdown-header:before { border-color: rgba(122, 15, 255, 0.1); }
.theme-light .countdown-box.countdown-header .extra-line { border-color: rgba(122, 15, 255, 0.1); }
.theme-light .countdown-box.countdown-header .extra-line:after { border-color: rgba(122, 15, 255, 0.1); }

.io-dark-light .section-light .countdown-box.countdown-header:after, .io-dark-light .section-light-alt .countdown-box.countdown-header:after { border-color: rgba(122, 15, 255, 0.1); }
.io-dark-light .section-light .countdown-box.countdown-header:before, .io-dark-light .section-light-alt .countdown-box.countdown-header:before { border-color: rgba(122, 15, 255, 0.1); }
.io-dark-light .section-light .countdown-box.countdown-header .extra-line, .io-dark-light .section-light-alt .countdown-box.countdown-header .extra-line { border-color: rgba(122, 15, 255, 0.1); }
.io-dark-light .section-light .countdown-box.countdown-header .extra-line:after, .io-dark-light .section-light-alt .countdown-box.countdown-header .extra-line:after { border-color: rgba(122, 15, 255, 0.1); }

.roadmap-list:after { background: #7a0fff; }

.single-roadmap:before { background-image: -webkit-linear-gradient(top, #46bdf4 0%, #7a0fff 100%); background-image: linear-gradient(top, #46bdf4 0%, #7a0fff 100%); }
.single-roadmap:after { background: #46bdf4; }
.single-roadmap.roadmap-done:after { border-color: #46bdf4; }
.single-roadmap h6 { color: #8255fd; }
.single-roadmap.roadmap-down:before { background-image: -webkit-linear-gradient(top, #7a0fff 0%, #46bdf4 100%); background-image: linear-gradient(top, #7a0fff 0%, #46bdf4 100%); }

.theme-light .single-roadmap:before { background-image: -webkit-linear-gradient(top, #2b56f5 0%, #7a0fff 100%); background-image: linear-gradient(top, #2b56f5 0%, #7a0fff 100%); }
.theme-light .single-roadmap:after { background: #2b56f5; }
.theme-light .single-roadmap.roadmap-done:after { border-color: #46bdf4; }
.theme-light .single-roadmap.roadmap-down:before { background-image: -webkit-linear-gradient(top, #7a0fff 0%, #2b56f5 100%); background-image: linear-gradient(top, #7a0fff 0%, #2b56f5 100%); }

.single-roadmap-alt:before { background-image: linear-gradient(to right, transparent 0%, #7a0fff 50%, #7a0fff 100%); }
.single-roadmap-alt:after { border: 1px solid #7a0fff; }
.single-roadmap-alt.sec-pri:before { background-image: linear-gradient(to right, #7a0fff 0%, #46bdf4 100%); }
.single-roadmap-alt.sec-pri:after { border-color: #46bdf4; }
.single-roadmap-alt.sec-pri h5:before, .single-roadmap-alt.sec-pri h6:before { background: #46bdf4; }
.single-roadmap-alt.pri-sec:before { background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }
.single-roadmap-alt.pri-sec:after { border-color: #7a0fff; }
.single-roadmap-alt.pri-sec h5:before, .single-roadmap-alt.pri-sec h6:before { background: #7a0fff; }
.single-roadmap-alt.sec-prialt:before { background-image: linear-gradient(to right, #7a0fff 0%, #2b56f5 100%); }
.single-roadmap-alt.sec-prialt:after { border-color: #2b56f5; }
.single-roadmap-alt.sec-prialt h5:before, .single-roadmap-alt.sec-prialt h6:before { background: #2b56f5; }
.single-roadmap-alt.prialt-pri:before { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.single-roadmap-alt.prialt-pri:after { border-color: #46bdf4; }
.single-roadmap-alt.prialt-pri h5:before, .single-roadmap-alt.prialt-pri h6:before { background: #46bdf4; }
.single-roadmap-alt.pri-last:before { background-image: linear-gradient(to left, transparent 0%, #46bdf4 50%, #46bdf4 100%); }
.single-roadmap-alt h5:before, .single-roadmap-alt h6:before { background: #7a0fff; }

.team-member .team-photo:after { background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.team-member .team-title { color: #46bdf4; }
.team-member .team-social li a { color: #8255fd; }

.team-hex .team-info:before { background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.team-hex .team-title { color: #8255fd; }

.team-described .team-title:after { background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.team-described .team-social li a { color: #8255fd; }
.team-described .team-discription li:before { background: #46bdf4; }

.team-circle .team-photo:before { background-image: linear-gradient(to top, #2b56f5 0%, #46bdf4 100%); }
.team-circle .team-title { color: #8255fd; }

.skill-bar-percent { background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }

.bg-team-exp.mfp-bg { background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }

.contact-info li .fa { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.contact-info-alt li .fa { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }

.form-message .input-field .input-line { border-bottom-color: #46bdf4; }

.social li a:hover { background: #7a0fff; }

.select2-container--default .select2-results__option--highlighted[aria-selected] { background: rgba(70, 189, 244, 0.2); }
.theme-light .select2-container--default .select2-results__option--highlighted[aria-selected], .io-azure .section-pro .select2-container--default .select2-results__option--highlighted[aria-selected] { background: rgba(70, 189, 244, 0.4); }

.select2-container--default .select2-results__option[aria-selected=true] { background: rgba(70, 189, 244, 0.3); }

.select2-container--default .select2-selection--single { background: rgba(70, 189, 244, 0.1); }

.language-switcher .dropdown-item:hover { color: #46bdf4; }

.blog-photo a:after { background: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }
.blog-meta li { color: #7a0fff; }
.blog-meta li span { color: #46bdf4; }
.blog-meta li:after { background: #4b00a8; }
.blog-meta li a { color: #7a0fff; }
.blog-meta li a:hover { color: #46bdf4; }
.blog-title a:hover { color: #46bdf4; }
.blog-tags li a { border-color: rgba(70, 189, 244, 0.2); }
.blog-tags li a:hover { color: #46bdf4; }
.theme-light .blog-title a:hover { color: #46bdf4; }
.theme-light .blog-tags li a { border-color: rgba(70, 189, 244, 0.5); }
.theme-light .blog-tags li a:hover { color: #46bdf4; }
.io-azure .blog-title a:hover { color: #46bdf4; }
.io-azure .blog-meta li { color: #46bdf4; }
.io-azure .blog-meta li span { color: #46bdf4; }
.io-azure .blog-meta li:after { background: #0c8dc8; }
.io-azure .blog-meta li a { color: #46bdf4; }
.io-azure .blog-meta li a:hover { color: #fff; }
.io-azure .section-pro .blog-title a:hover { color: #46bdf4; }
.io-azure .section-pro .blog-tags li a:hover { color: #46bdf4; }
.io-azure .section-pro .blog-meta li { color: #7a0fff; }
.io-azure .section-pro .blog-meta li span { color: #9c9c9c; }
.io-azure .section-pro .blog-meta li:after { background: #4b00a8; }
.io-azure .section-pro .blog-meta li a { color: #7a0fff; }
.io-azure .section-pro .blog-meta li a:hover { color: #46bdf4; }

.comment-time { color: #7a0fff; }
.comment-reply .fa { color: #7a0fff; }
.theme-light .comment-reply .fa { color: #7a0fff; }
.theme-light .comment-reply:hover { color: #7a0fff; }
.io-azure .section-pro .comment-reply .fa { color: #7a0fff; }
.io-azure .section-pro .comment-reply:hover { color: #7a0fff; }

.page-pagination li a { color: rgba(70, 189, 244, 0.5); }
.page-pagination li a:hover { background: rgba(122, 15, 255, 0.4); }
.page-pagination li.active a { background: rgba(122, 15, 255, 0.4); }
.theme-light .page-pagination li a { color: #46bdf4; }
.theme-light .page-pagination li a:hover { color: #fff; background: rgba(122, 15, 255, 0.4); }
.theme-light .page-pagination li.active a { background: rgba(122, 15, 255, 0.4); }
.io-azure .page-pagination li a { color: #46bdf4; }
.io-azure .page-pagination li a:hover { color: #fff; background: rgba(122, 15, 255, 0.4); }
.io-azure .page-pagination li.active a { background: rgba(122, 15, 255, 0.4); }
.io-azure .section-pro .page-pagination li a { color: #46bdf4; }
.io-azure .section-pro .page-pagination li a:hover { color: #fff; background: rgba(122, 15, 255, 0.6); }
.io-azure .section-pro .page-pagination li.active a { color: #fff; background: rgba(122, 15, 255, 0.6); }

.sidebar-widget.category ul li:before { background: #46bdf4; }
.sidebar-widget.category ul li a:hover { color: #46bdf4; }
.sidebar-widget.category ul li.active a { color: #46bdf4; }
.sidebar-widget.tags ul li a { border-color: rgba(70, 189, 244, 0.2); }
.sidebar-widget.tags ul li a:hover { color: #46bdf4; }
.theme-light .sidebar-widget.category ul li a:hover { color: #46bdf4; }
.theme-light .sidebar-widget.category ul li.active a { color: #46bdf4; }
.theme-light .sidebar-widget.tags ul li a { border-color: rgba(70, 189, 244, 0.5); }
.theme-light .sidebar-widget.tags ul li a:hover { color: #46bdf4; }
.io-azure .section-pro .sidebar-widget.category ul li a:hover { color: #46bdf4; }
.io-azure .section-pro .sidebar-widget.category ul li.active a { color: #46bdf4; }
.io-azure .section-pro .sidebar-widget.tags ul li a:hover { color: #46bdf4; }

.search-form input[type="text"] { border-color: rgba(70, 189, 244, 0.1); }
.search-form button { background: rgba(70, 189, 244, 0.1); color: #fff; }
.search-form button:hover { background: rgba(70, 189, 244, 0.3); }
.theme-light .search-form input[type="text"] { border-color: rgba(70, 189, 244, 0.5); }
.theme-light .search-form button { background: rgba(70, 189, 244, 0.5); }
.theme-light .search-form button:hover { background: rgba(70, 189, 244, 0.8); }
.io-azure .section-pro .search-form button:hover { background: rgba(70, 189, 244, 0.8); color: #fff; }

.io-azure .banner-tokensale .countdown-box .btn.btn-alt { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.io-azure .banner-tokensale .countdown-box .btn.btn-alt:before { background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }

.token-status-bar { background: #fff; }
.token-status-percent { background: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%); }
.io-azure .banner-tokensale .token-status-percent { background: linear-gradient(to right, #2b56f5 0%, #0b39e2 100%); }
.token-status-point:after { background: rgba(130, 85, 253, 0.35); }

.theme-lavendar .btn { background: #0034A4; }
.theme-lavendar .btn:hover { background: #000; }
.theme-lavendar .btn.btn-plane:hover { background: #0034A4; }
.theme-lavendar .btn.btn-simple .fa { color: #0034A4; }
.theme-lavendar .btn.btn-white { color: #fff; background: #0034A4; font-size: 15px;}
/*.theme-lavendar .btn.btn-white { color: #0034A4; }*/
.theme-lavendar .btn.btn-white:hover { background: #000; }
.theme-lavendar .btn.btn-simple { background: none; }
.theme-lavendar .btn.btn-simple .fa { color: #0034A4; }
.theme-lavendar .btn.btn-outline { background: transparent; border-color: #fff; }
.theme-lavendar .btn.btn-outline:after { background: transparent; }
.theme-lavendar .owl-dot { background: rgba(93, 70, 232, 0.3); }
.theme-lavendar .owl-dot.active { background: rgba(93, 70, 232, 0.8); }
.theme-lavendar .site-header.has-fixed .btn.btn-white { background: #0034A4; }
.theme-lavendar .site-header.has-fixed .btn.btn-white:hover { background: #000; }
.theme-lavendar .site-header.has-fixed .btn.btn-outline { border-color: #0034A4; color: #0034A4; }
.theme-lavendar .navbar-toggler { background: #40beff; }

.section-bg-light .small-heading, [class*=section-bg-light] .small-heading { color: rgba(93, 70, 232, 0.5); }

.section-bg-lavendar { background: #0034A4; }
.section-bg-lavendar .section-head-s3 .section-title:before { background: #ff9259; }

.section-bg-light-alt { background: rgba(93, 70, 232, 0.04); }

.section-head-s3 .section-title:before { background: #0034A4; }

.warnning-badge { background: #ff9259; }

.banner-rounded-bg {  background-repeat: no-repeat; /*background-image: url(../../images/people_in_car6.png); background-size: 80% auto;*/ background-position: right bottom;}

.token-box .icon-list li .fa { color: #0034A4; }
.token-box .token-countdown .countdown-time { color: #0034A4; }
.token-box .token-countdown .countdown-time:after { color: #0034A4; }
.token-bar { background: rgba(93, 70, 232, 0.1); }
.token-percent { background: #0034A4; }
.token-point:after { background: rgba(93, 70, 232, 0.4); }

.roadmap-carousel:before, .roadmap-carousel:after { background: #c0b7f6; }
.roadmap-carousel-container:before { background: #c0b7f6; }
.roadmap-item h6:before { background: rgba(93, 70, 232, 0.3); }
.roadmap-item h6:after { background: #0034A4; }
.roadmap-done h6:before { background: rgba(64, 190, 255, 0.3); }
.roadmap-done h6:after { background: #40beff; }

.about-section-innr:before { background: #0034A4; }
.about-section-innr:after { background: #0034A4; }
.about-info { background: rgba(49, 31, 155, 0.4); }
.about-info .ti { color: #40beff; }

.reason-item .ikon { color: #0034A4; }

.process-scetion .slider-nav-item { color: #0034A4; }
.process-scetion .slider-nav-item:nth-child(2) { color: #40beff; }
.process-scetion .slider-nav-item:nth-child(3) { color: #311f9b; }
.process-scetion .slider-nav-item:nth-child(4) { color: #ff9259; }
.process-scetion .slider-nav-item.active { color: #fff; background: #0034A4; }
.process-scetion .slider-nav-item.active:nth-child(2) { background: #40beff; }
.process-scetion .slider-nav-item.active:nth-child(3) { background: #311f9b; }
.process-scetion .slider-nav-item.active:nth-child(4) { background: #ff9259; }
.process-scetion .slider-nav-item.active:nth-child(5) { background: #38385f; }

.features-item .ti { background: #000; background-image: url(../../images/signal.png) no-repeat;}

.team-described .team-photo:before { background-image: linear-gradient(to top left, rgba(64, 190, 255, 0.65) 0%, rgba(93, 70, 232, 0.65) 100%); }
.team-described .team-title { color: #40beff; }
.team-described .team-title:after { background-image: linear-gradient(to left, #0034A4 0%, #40beff 100%); }
.team-described .team-social li a { color: #40beff; }
.team-described .team-social li a:hover { color: #0034A4; }
.team-described .team-discription li:before { background: #40beff; }

.section-bg-light .accordion .plus-minus .ti { color: #0034A4; }

.media-heading a:hover { color: #0034A4; }

.subscribe-rounded .input-round { background: rgba(93, 70, 232, 0.07); }

.footer-lavendar { background: #0034A4; }

.social-bar li a { color: #0034A4; }

.theme-muscari { background: #fff; }
.theme-muscari .countdown-box { background: #3455ff; }
.theme-muscari .countdown-box h6 { color: #fff !important; }
.theme-muscari .countdown-box .countdown-time { color: #fff; }
.theme-muscari .countdown-box .countdown-text { color: rgba(255, 255, 255, 0.6); }
.theme-muscari .countdown-box.countdown-transparent { background: rgba(0, 33, 205, 0.8) !important; }
.theme-muscari .token-status-point::after { background: rgba(255, 255, 255, 0.5); }
.theme-muscari .token-status-percent { background: #39a9ff; }
.theme-muscari .loader-section { background: #fcfcfc; }
.theme-muscari .btn { background: #3455ff; border-radius: 4px; }
.theme-muscari .btn:hover { background: #ffc123; }
.theme-muscari .btn:before { display: none; }
.theme-muscari .btn.btn-alt { background: #ffc123; }
.theme-muscari .btn.btn-alt:hover { background: #39a9ff; }
.theme-muscari .btn.btn-plane { background: #fff; color: #3455ff; }
.theme-muscari .btn.btn-plane:hover { color: #fff; background: #ffc123; }
.theme-muscari .btn.btn-simple { background: none; color: #fff; }
.theme-muscari .btn.btn-simple .fa { color: #ffc123; }
.theme-muscari .btn.btn-white { background: #fff; color: #3455ff; }
.theme-muscari .btn.btn-white:hover { background: #ffc123; color: #fff; }
.theme-muscari .btn.btn-outline { background: transparent; border: 2px solid #ffc123; }
.theme-muscari .btn.btn-outline:after { background: transparent; }
.theme-muscari .btn.btn-outline:hover { background: #ffc123; }
.theme-muscari .site-header.has-fixed .navbar { background: #fff; box-shadow: 0 10px 40px rgba(93, 70, 232, 0.15); }
.theme-muscari .site-header.has-fixed .navbar-nav > li > a { color: #8484a4; }
.theme-muscari .site-header.has-fixed .navbar .btn.btn-outline { border-color: #3455ff; color: #3455ff; }
.theme-muscari .navbar-toggler { background: #ffc123; }
.theme-muscari .section-bg-light .small-heading, .theme-muscari [class*=section-bg-light] .small-heading { color: rgba(52, 85, 255, 0.5); }
.theme-muscari .section-bg-muscari .text-block ul:not(.btns) li { color: #fff; }
.theme-muscari .section-bg-muscari .text-block ul:not(.btns) li:before { background: #ffc123; }
.theme-muscari .section-muscari { background: #3455ff; }
.theme-muscari .text-block { color: #374574; }
.theme-muscari .text-block p:not(.lead) { color: #637097; }
.theme-muscari .roadmap-carousel-withnav:before, .theme-muscari .roadmap-carousel-withnav:after { background: #b3d9ff; }
.theme-muscari .roadmap-carousel-container:before { background: #b3d9ff; }
.theme-muscari .roadmap-item h6:before { background: rgba(51, 153, 255, 0.3); }
.theme-muscari .roadmap-item h6:after { background: #3399ff; }
.theme-muscari .roadmap-done h6:before { background: rgba(52, 85, 255, 0.3); }
.theme-muscari .roadmap-done h6:after { background: #3455ff; }
.theme-muscari .team-member { background: rgba(51, 153, 255, 0.1); }
.theme-muscari .team-member .team-social li a { color: #39a9ff; }
.theme-muscari .team-member .team-social li a:hover { color: #ffc123; }
.theme-muscari .team-member .team-title { color: #3455ff; }
.theme-muscari .team-member .team-photo:before { background: rgba(52, 85, 255, 0.4); }
.theme-muscari .team-member .team-photo:after { background: #ffc123; }
.theme-muscari .copyright-text { color: #fff; }
.theme-muscari .copyright-text span { color: rgba(255, 255, 255, 0.6); }
.theme-muscari .copyright-text a { color: #fff; }
.theme-muscari .copyright-text a:hover { color: #ffc123; }
.theme-muscari .footer-subscription .input-round { color: #fff; background: rgba(57, 169, 255, 0.5); border-color: transparent; }
.theme-muscari .social li a { color: #3455ff; background: #fff; }
.theme-muscari .social li a:hover { color: #fff; background: #ffc123; }
.theme-muscari .link-widget li a, .theme-muscari .footer-links li a { color: rgba(255, 255, 255, 0.6); }
.theme-muscari .link-widget li a:hover, .theme-muscari .footer-links li a:hover { color: #fff; }

.header-angle-bg { background: #3455ff; }

.section-head-s5 .section-title:after { background: #39a9ff; }
.section-bg-muscari .section-head-s5 .section-title:after { background: #ffc123; }

.text-box h6 { color: #ffc123 !important; }
.text-box.text-box-bg { background: rgba(0, 0, 0, 0.2); }

.roadmap-carousel-withnav .owl-prev, .roadmap-carousel-withnav .owl-next { color: rgba(52, 85, 255, 0.3); }

.section-bg-light .tab-custom-s2 .nav-tabs li > a { opacity: 1; color: #637097; }
.section-bg-light .tab-custom-s2 .nav-tabs li > a.active { color: #3455ff; border-bottom-color: #3455ff; }

.section-bg-light .form-message .input-field .input-line, .section-bg-light-alt .form-message .input-field .input-line { color: #637097; border-bottom-color: rgba(204, 212, 255, 0.6); }
.section-bg-light .form-message .input-field .input-title, .section-bg-light-alt .form-message .input-field .input-title { color: rgba(52, 85, 255, 0.5); }

.section-bg-light .contact-info-alt li .fa { color: #3455ff; background: #3455ff; }
.section-bg-light .contact-info-alt li .fa:after { background: #fff; }

.section-bg-light-alt .contact-info-alt li .fa { color: #3455ff; background: #3455ff; }
.section-bg-light-alt .contact-info-alt li .fa:after { background: #f7f8ff; }

.play-btn-s2 { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.play-icon { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }

.features-item-s2:before { background: #2b56f5; }
.features-icon-s2 { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }

.text-block ol li:before { color: #46bdf4; }

.problem-item ul li:before { background: #46bdf4; }

.timeline-list:before { background: linear-gradient(to bottom, #46bdf4 0%, #7a0fff 100%); }
.timeline-content:before { border-color: #46bdf4; background: #46bdf4; }
.timeline-content h6 { color: #46bdf4; }

.team-circle-social li a { color: #46bdf4; }
.team-circle-social li a:hover { color: #2b56f5; }

.io-lobelia .sub-heading { color: #46bdf4; }

.io-jasmine h1, .io-jasmine h2, .io-jasmine h3, .io-jasmine h4, .io-jasmine h5, .io-jasmine h6 { color: #223b55; }
.io-jasmine p { color: #4c5a77; }
.io-jasmine p.lead { color: #6a7894; }
.io-jasmine .section-dark h1, .io-jasmine .section-dark h2, .io-jasmine .section-dark h3, .io-jasmine .section-dark h4, .io-jasmine .section-dark h5, .io-jasmine .section-dark h6 { color: #fff; }
.io-jasmine .section-dark p { color: #fff; }
.io-jasmine .section-dark p.lead { color: #fff; }
.io-jasmine .section-bg { background: #fff; }
.io-jasmine .section-bg-alt { background: #e7edf5; }
.io-jasmine .section-bg-atob { background-image: linear-gradient(to bottom, #fff 0%, #e7edf5 100%); }
.io-jasmine .heading-sm { color: rgba(34, 59, 85, 0.6); }
.io-jasmine .heading-sm-s2 { color: #16a1ff; }
.io-jasmine .timeline-title { color: #2b56f5; }
.io-jasmine .timeline-done .timeline-title { color: #223b55; }
.io-jasmine .document-title { color: #4c5a77; }
.io-jasmine .btn { border-radius: 6px; background-image: -webkit-linear-gradient(to right, #2b56f5 0%, #16a1ff 100%); background-image: linear-gradient(to right, #2b56f5 0%, #16a1ff 100%); }
.io-jasmine .btn:before { border-radius: 6px; background-image: -webkit-linear-gradient(to right, #16a1ff 0%, #2b56f5 100%); background-image: linear-gradient(to right, #16a1ff 0%, #2b56f5 100%); }
.io-jasmine .btn-outline { border: 2px solid #16a1ff; }
.io-jasmine .btn-outline:hover { color: #fff; background: #16a1ff !important; }
.io-jasmine .btn.btn-plane { background: #2b56f5; }
.io-jasmine .text-block ul:not(.btns) li:before { background: linear-gradient(to right, #2b56f5 0%, #16a1ff 100%); }
.io-jasmine .contact-info-alt li .fa { color: #16a1ff; background: transparent; border-color: #16a1ff; }
.io-jasmine .navbar-toggler { background: linear-gradient(to right, #2b56f5 0%, #16a1ff 100%); }
.io-jasmine .navbar-toggler:hover, .io-jasmine .navbar-toggler:focus { background: linear-gradient(to right, #16a1ff 0%, #2b56f5 100%); }
.io-jasmine .team-circle-des { background: #fff; }
.io-jasmine .team-circle-des h5 { color: #4c5a77; }
.io-jasmine .team-circle-des span { color: #16a1ff; }
.io-jasmine .team-circle-des p { color: #223b55; }
.io-jasmine .team-circle-social li a { color: #16a1ff; }
.io-jasmine .team-circle-social li a:hover { color: #2b56f5; }
.io-jasmine .site-header .navbar-nav > li > a { color: #223b55; }
.io-jasmine .site-header .navbar-nav > li > a:hover, .io-jasmine .site-header .navbar-nav > li > a.active { color: #16a1ff; }
.io-jasmine .site-header.has-fixed .navbar { background: #d1ddec; }
.io-jasmine .lang-switch a { color: #223b55; }
.io-jasmine .lang-switch a:hover { color: #16a1ff; background-color: transparent; }
.io-jasmine .loader-section { background: #e7edf5; }

@media only screen and (max-width: 991px) { .io-jasmine .site-header .navbar.is-transparent.active { background: #d1ddec; } }
.background-shape { background: rgba(0, 52, 86, 0.03); }
.background-shape:before, .background-shape:after { background: rgba(255, 255, 255, 0.2); }

.banner-jasmine { background: linear-gradient(-135deg, #dde5f1 0%, #eaeff6 100%); }
.banner-jasmine .token-countdown .countdown-text { color: #16a1ff; }

.circle-animation .ca { border-color: rgba(34, 59, 85, 0.15); }
.circle-animation .ca-color-1 { background: #86cfff; }
.circle-animation .ca-color-2 { background: #859fff; }
.circle-animation .ca-color-3 { background: #93a6ba; }

.heading-sm-s2 { color: #16a1ff; }
.heading-sm-s2:before { background: #16a1ff; }

.btn-icon-s2 { color: #16a1ff; background: transparent !important; }
.btn-icon-s2 .ti { color: #fff; background: #16a1ff; }
.btn-icon-s2:hover { color: #2b56f5; }
.btn-icon-s2:hover .ti { color: #fff; background: #2b56f5; }

.rating-info { color: #223b55; background: #e9effa; }
.rating-info span { color: #6a7894; }
.rating-title { background: rgba(22, 161, 255, 0.6); color: #fff; }

.features-box-s3 { background: #fff; }
.features-subtitle-s3 { color: #9fa9b3; }
.features-subtitle-s3:after { background: #16a1ff; }
.features-action { background: #2b56f5; color: #fff; }
.features-action:hover { color: #fff; background: #16a1ff; }

.token-details-list { border-color: #d8e0ff; }
.token-details-list li:nth-child(even) .token-details-title { background: #e7f3ff; }
.token-details-list li:nth-child(even) .token-details-info { background: #f7f9ff; }
.token-details-list li:nth-child(odd) .token-details-title { background: #eff8ff; }
.token-details-list li:nth-child(odd) .token-details-info { background: #fff; }
.token-details-title { color: #223b55; }
.token-details-info { color: #16a1ff; }
.token-stage-title { color: #fff; background: #16a1ff; }
.token-stage-pre { background: #63c0ff; }
.token-stage-date { border-color: #d8e0ff; }
.token-stage-info { border-color: #d8e0ff; }
.token-stage-bonus { color: #16a1ff; }
.token-stage-cap { color: #6a7894; }
.token-stage-amount { color: #223b55; }
.token-action-box { background: #ecf7ff; }
.token-action-title { background: #b9e3ff; }
.token-bar-item.tbic1 { background: #002674; }
.token-bar-item.tbic1 .token-bar-txt span:first-of-type { color: #002674; }
.token-bar-item.tbic2 { background: #004ae2; }
.token-bar-item.tbic2:before { background: #004ae2; }
.token-bar-item.tbic2 .token-bar-txt span:first-of-type { color: #004ae2; }
.token-bar-item.tbic3 { background: #3b7bff; }
.token-bar-item.tbic3:before { background: #3b7bff; }
.token-bar-item.tbic3 .token-bar-txt span:first-of-type { color: #3b7bff; }
.token-bar-item.tbic4 { background: #3bb8ff; }
.token-bar-item.tbic4:before { background: #3bb8ff; }
.token-bar-item.tbic4 .token-bar-txt span:first-of-type { color: #3bb8ff; }
.token-bar-item.tbic5 { background: #5378fb; }
.token-bar-item.tbic5:before { background: #5378fb; }
.token-bar-item.tbic5 .token-bar-txt span:first-of-type { color: #5378fb; }
.token-bar-txt:after { background: rgba(22, 161, 255, 0.5); }

.document-item { background: #fff; }
.document-title { color: #4c5a77; }
.document-links li a { border-color: #d8e0ff; }

.timeline-item:before, .timeline-item:after { background: #16a1ff; }
.timeline-date { color: #6a7894; }
.timeline-date:after { background: #2b56f5; }
.timeline-date:before { background: rgba(43, 86, 245, 0.23); }
.timeline-title { color: #2b56f5; }
.timeline-title:before { border-right-color: rgba(186, 188, 195, 0.3); }
.timeline-info li { color: #707d98; }
.timeline-info li:after { background: #79859f; }
.timeline-done .timeline-title { color: #223b55; }
.timeline-current .timeline-title { color: #223b55; }
.timeline-row { position: relative; }
.timeline-row:before { border-bottom-color: rgba(186, 188, 195, 0.3); }
.timeline-row:after { border-color: rgba(186, 188, 195, 0.3); }
.timeline-row-done:after { border-color: #16a1ff; }

@media only screen and (max-width: 991px) { .timeline-title:before { border-top-color: rgba(186, 188, 195, 0.3); }
  .timeline-row:before { border-left-color: rgba(186, 188, 195, 0.3); } }
.tab-custom-s3 .nav-tabs .nav-link { background: rgba(34, 59, 85, 0.07); color: #4c5a77; }
.tab-custom-s3 .nav-tabs .nav-link.active { color: #16a1ff; background: rgba(22, 161, 255, 0.1); }

.accordion-s2 .card { background-color: #fff; border-color: rgba(34, 59, 85, 0.1); }
.accordion-s2 .card.active { border-color: rgba(22, 161, 255, 0.3); }
.accordion-s2 .card-header a { color: #16a1ff; }
.accordion-s2 .card-header a:hover { color: #16a1ff; }
.accordion-s2 .plus-minus .ti { color: #16a1ff; }
.accordion-s2 .collapsed .plus-minus .ti { color: rgba(34, 59, 85, 0.5); }

.footer-jasmine .social li a { color: #fff; background: #16a1ff; }
.footer-jasmine .social li a:hover { color: #fff; background: #2b56f5; }

.io-lungwort h1, .io-lungwort h2, .io-lungwort h3, .io-lungwort h4, .io-lungwort h5, .io-lungwort h6 { color: #fff; }
.io-lungwort p { color: #a89ffe; }
.io-lungwort p.lead { color: #d1ccff; }
.io-lungwort .section-bg { background: #3e2bc5; }
.io-lungwort .section-bg .btn-outline:after { background: #3e2bc5; }
.io-lungwort .section-bg-alt { background: #261986; }
.io-lungwort .section-bg-alt .btn-outline:after { background: #261986; }
.io-lungwort .section-bg-dark { background: #3221ad; }
.io-lungwort .section-bg-dark .btn-outline:after { background: #3221ad; }
.io-lungwort .section-bg-atob { background-image: linear-gradient(to bottom, #3e2bc5 0%, #261986 100%); }
.io-lungwort .heading-sm { color: rgba(255, 255, 255, 0.6); }
.io-lungwort .heading-sm-s2 { color: #0d9ee0; }
.io-lungwort .heading-sm-s2:before { background: #0d9ee0; }
.io-lungwort .timeline-title { color: #2b56f5; }
.io-lungwort .timeline-done .timeline-title { color: #fff; }
.io-lungwort .document-title { color: #a89ffe; }
.io-lungwort .btn { border-radius: 6px; background-image: -webkit-linear-gradient(to right, #2b56f5 0%, #7a0fff 100%); background-image: linear-gradient(to right, #2b56f5 0%, #7a0fff 100%); }
.io-lungwort .btn:before { border-radius: 6px; background-image: -webkit-linear-gradient(to right, #7a0fff 0%, #2b56f5 100%); background-image: linear-gradient(to right, #7a0fff 0%, #2b56f5 100%); }
.io-lungwort .btn.btn-plane { background: #2b56f5; }
.io-lungwort .text-block ul:not(.btns) li:before { background: #0d9ee0; }
.io-lungwort .contact-info-alt li .fa { color: #fff; background: #7a0fff; border-color: #7a0fff; }
.io-lungwort .site-header .navbar-nav > li > a { color: #fff; }
.io-lungwort .site-header .navbar-nav > li > a:hover, .io-lungwort .site-header .navbar-nav > li > a.active { color: #0d9ee0; }
.io-lungwort .site-header.has-fixed .navbar { background: #221779; }
.io-lungwort .navbar .btn-outline:after { background: #362995; }
.io-lungwort .has-fixed .btn-outline:after { background: #221779; }
.io-lungwort .countdown-box h6 { color: #9947ff; }
.io-lungwort .lang-switch a { color: #fff; }
.io-lungwort .lang-switch a:hover { color: #0d9ee0; background-color: transparent; }
.io-lungwort .lang-switch .dropdown-item { margin: 0 0; }
.io-lungwort .lang-switch .dropdown-menu { background: #201571; }
.io-lungwort .lang-switch:before { background: rgba(239, 237, 255, 0.3); }
.io-lungwort .navbar-toggler { background: linear-gradient(to right, #2b56f5 0%, #7a0fff 100%); }
.io-lungwort .navbar-toggler:hover, .io-lungwort .navbar-toggler:focus { background: linear-gradient(to right, #7a0fff 0%, #2b56f5 100%); }
.io-lungwort .background-shape { background: rgba(0, 0, 0, 0.03); }
.io-lungwort .background-shape:before, .io-lungwort .background-shape:after { background: rgba(0, 0, 0, 0.05); }
.io-lungwort .btn-icon-s2 { color: #0d9ee0; }
.io-lungwort .btn-icon-s2 .ti { color: #fff; background: #0d9ee0; }
.io-lungwort .btn-icon-s2:hover, .io-lungwort .btn-icon-s2:focus { color: #2b56f5; }
.io-lungwort .btn-icon-s2:hover .ti, .io-lungwort .btn-icon-s2:focus .ti { color: #fff; background: #2b56f5; }
.io-lungwort .rating-info { color: #fff; background: #634ff1; }
.io-lungwort .rating-info span { color: #d1ccff; }
.io-lungwort .rating-title { background: #160977; }
.io-lungwort .features-title-s4 { color: #0d9ee0; }
.io-lungwort .token-details-list { border-color: #453fc9; }
.io-lungwort .token-details-list li:nth-child(even) .token-details-title { background: #25238f; }
.io-lungwort .token-details-list li:nth-child(even) .token-details-info { background: #261986; }
.io-lungwort .token-details-list li:nth-child(odd) .token-details-title { background: #302ab3; }
.io-lungwort .token-details-list li:nth-child(odd) .token-details-info { background: #3221ad; }
.io-lungwort .token-details-title { color: #fff; }
.io-lungwort .token-details-info { color: #0d9ee0; }
.io-lungwort .token-stage { background: #3221ad; }
.io-lungwort .token-stage-title { background: #5d47ff; }
.io-lungwort .token-stage-pre { background: #735fff; }
.io-lungwort .token-stage-one { background: #6853ff; }
.io-lungwort .token-stage-date { border-color: #4631e0; }
.io-lungwort .token-stage-info { border-color: #4631e0; }
.io-lungwort .token-stage-bonus { color: #0d9ee0; }
.io-lungwort .token-stage-cap { color: #d1ccff; }
.io-lungwort .token-stage-amount { color: #fff; }
.io-lungwort .token-action-box { background: #3221ad; }
.io-lungwort .token-action-title { background: #261986; }
.io-lungwort .document-item { background: #261986; }
.io-lungwort .document-title { color: #fff; }
.io-lungwort .document-links li a { border-color: #d1ccff; }
.io-lungwort .timeline-item:before, .io-lungwort .timeline-item:after { background: #0d9ee0; }
.io-lungwort .timeline-date { color: #0d9ee0; }
.io-lungwort .timeline-date:after { background: #0d9ee0; }
.io-lungwort .timeline-date:before { background: rgba(13, 158, 224, 0.23); }
.io-lungwort .timeline-title { color: #fff; }
.io-lungwort .timeline-title:before { border-right-color: #0d9ee0; }
.io-lungwort .timeline-info li { color: #a89ffe; }
.io-lungwort .timeline-info li:after { background: rgba(168, 159, 254, 0.3); }
.io-lungwort .timeline-done .timeline-title { color: #fff; }
.io-lungwort .timeline-current .timeline-title { color: #fff; }
.io-lungwort .timeline-row:before { border-bottom-color: #0d9ee0; }
.io-lungwort .timeline-row:after { border-color: #0d9ee0; }
.io-lungwort .timeline-row-done:after { border-color: #0d9ee0; }
.io-lungwort .team-circle-des { background: #3e2bc5; }
.io-lungwort .team-circle-des h5 { color: #fff; }
.io-lungwort .team-circle-des span { color: #0d9ee0; }
.io-lungwort .team-circle-des p { color: #a89ffe; }
.io-lungwort .team-circle-social li a { color: #0d9ee0; }
.io-lungwort .team-circle-social li a:hover { color: #2b56f5; }
.io-lungwort .tab-custom-s3 .nav-tabs .nav-link { background: transparent; color: #fff; }
.io-lungwort .tab-custom-s3 .nav-tabs .nav-link.active { color: #0d9ee0; background: rgba(13, 158, 224, 0.1); }
.io-lungwort .accordion-s2 .card { background-color: #3e2bc5; border-color: rgba(135, 119, 254, 0.7); }
.io-lungwort .accordion-s2 .card.active { border-color: rgba(13, 158, 224, 0.6); }
.io-lungwort .accordion-s2 .card-header a { color: #0d9ee0; }
.io-lungwort .accordion-s2 .card-header a.collapsed { color: #d1ccff; }
.io-lungwort .accordion-s2 .card-header a:hover { color: #0d9ee0; }
.io-lungwort .accordion-s2 .plus-minus .ti { color: #0d9ee0; }
.io-lungwort .accordion-s2 .collapsed .plus-minus .ti { color: rgba(13, 158, 224, 0.5); }
.io-lungwort .subscribe-box { background-image: linear-gradient(-135deg, #4d3dbf 0%, #5a4bc8 100%); }
.io-lungwort .subscribe-section-s2:before { background: #211675; }
.io-lungwort .loader-section { background: #3e2bc5; }

@media only screen and (max-width: 991px) { io-lungwort .timeline-title:before { border-top-color: #0d9ee0; }
  io-lungwort .timeline-row:before { border-left-color: #0d9ee0; }
  .io-lungwort .site-header .navbar.is-transparent.active { background: #221779; } }
.banner-lungwort { background: linear-gradient(135deg, #6757d4 0%, #190a85 100%); }
.banner-lungwort .countdown-box:after { background: rgba(26, 12, 126, 0.3); }
.banner-lungwort .countdown-box .token-countdown .countdown-text { color: #0d9ee0; }

.features-box-s4 { background: #3e2bc5; }
.features-title-s4 { color: #0d9ee0; }
.features-subtitle-s4 { color: #d1ccff; }
.features-subtitle-s4:after { background: #0d9ee0; }
.features-action { background: #0d9ee0; color: #fff; }
.features-action:hover { color: #fff; background: #7a0fff; }

.footer-lungwort .social li a { color: #fff; background: #7a0fff; }
.footer-lungwort .social li a:hover { color: #fff; background: #2b56f5; }

/*! END */

/* Additional CSS */
#team {
    background: #261986;
}

#team .background-shape {
    background: rgba(0, 0, 0, 0.03);
}

#team .background-shape:before, .background-shape:after {
    background: #0034a4;
}

#logo img {border-radius: 0px; }
